@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather+Sans&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Nakyung Kim
x21191026
*/

/* index.html*/

html,
body {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/*index.html*/
/*carousell slide*/
.second_div {
    width: 100%;
    padding-left: 10%;
    background-color: #014BA0;
}

#carouselExampleIndicators {
    width: 60%;
    display: block;
}

.boxerone {
    color: white;
    font-size: 1vw;
}

/*carousell slide right side*/

.second_div_right {
    width: 60%;
    position: absolute;
    margin-top: -40%;
    margin-left: 105%;
}

.second_div_right_p {
    font-size: 2.5vw;
}

/*time Countdown*/


.timer {
    width: 100vw;
    height: 100vh;

}

.timer_text {
    margin-top: 13%;
    position: absolute;
    transform: translateY(-50%);
    color: white;
}

.timer_text h3 {
    font-size: 2vw;
    font-weight: 500;
}

.timer h3 span {
    color: yellow;
}

.time101 div {
    flex-basis: 100px;
    margin-bottom: 3%;
}

.time101 div p {

    font-family: 'Anton', sans-serif;
    margin-bottom: -5px;
    margin-left: -80%;
    color: white;
}

.time101 span {
    font-size: 1.8vw;
    font-family: 'Anton', sans-serif;
    display: flex;
    margin-left: 25%;
    margin-top: -15%;
}


.matt a {
    text-decoration: none;
    color: white;
}

#days,
#hours,
#minutes,
#seconds {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 4vw;


}

/*Animation action*/


.cover {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    background-color: #F8F9FA;
    color: black;
}


.first-parallel {
    display: flex;
    font-size: 1rem;
    z-index: 5;
}

/*skyblue box*/
.third_div {
    background-color: #CCE6FC;
    color: black;
    width: 80%;
    height: 100px;
    margin: 70px 10% 50px 10%;
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
    min-width: 300px;
}

/*main activity 6 columns*/
.fourth_head {
    font-size: 1.5rem;
    height: 100px;
    margin-left: 5%;
}

.fourth_div {

    margin-right: 8%;
    margin-top: -5%;
}

.col_main {
    z-index: -20;
}

.col_main img {
    width: 100%;
}

.card-body {
    height: 200px;
}

/*sponsored*/

.sixth_box {
    background-color: #FAF6F9;
    margin-left: -10%;
    height: 420px;
    width: 110%;
    padding-left: 10%;
    position: relative;
    z-index: -8;
}

.sixth_subject {
    text-align: center;
    padding-top: 80px;
}


.seventh_head {
    font-size: 5vw;
    width: 100%;
    color: #222;
    cursor: pointer;
    letter-spacing: 7px;
    position: absolute;
    margin-top: 40%;
    text-align: center;
    z-index: 0;
}

/*css brightning*/

.seventh_head span {
    transition: 0.5s;
}

.seventh_head:hover span:nth-child(1) {
    margin-right: 10px;
}

.seventh_head:hover span:nth-child(1):after {
    content: "'";
}

.seventh_head:hover span:nth-child(2) {
    margin-right: 40px;
}

.seventh_head:hover span {
    color: #fff;
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 120px #fff,
        0 0 160px #fff;
}

.seventh_box {
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: -1;
}

/*news.index news 3*2*/


/* CSS Document */
.news_subject {
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif;
    margin-left: 7%;
}

.wrap_box {
    margin: 0 auto;
}

.news_wrap1,
.news_wrap2 {
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16.5px;
}


.grid3 {
    margin: 0 3% 3% 3%;
}

.grid3 a {
    color: inherit;
    text-decoration: none;
}

.grid3 a:hover {
    color: navy;
}

.grid3 img {
    width: 100%;
}

.n2 {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 2%;
    margin-left: 2%;
}

.grid3>div:hover {
    transform: scale(1.1);
    color: #014BA0;



}

@media screen and (min-width:641px) {
    .wrap_box {
        width: 100%;
    }

    .wrap_box {
        width: 98%;
        overflow: hidden;
        display: flex;
    }

    .grid3 {
        width: 33.3%;
    }

}

/*board*/

.board_wrap {
    position: static;
    width: 90%;
    margin-left: 5%;
}

.board_wrap a {
    color: inherit;
    text-decoration: none;
    color: black;
}

.board_title {
    margin-bottom: 30px;
}

.board_list_wrap {
    min-width: 600px;
}

.board_title strong {
    font-size: 2rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1rem;

}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list>div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list>div.top {
    border-bottom: 1px solid #999;
}

.board_list>div:last-child {
    border-bottom: 1px solid #000;
}

.board_list>div>div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
}

.board_list>div.top>div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}


/* Donghyeok lee*/


/*introduction.html*/


.intro_container0 {
    height: 70px;
}





/* intro_container1 */

.intro_video {
    width: 100%;
    height: 470px;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}


.intro_container1 {
    position: relative;
}

.intro_overlay {
    color: black;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}

.intro_overlay1 h1,
.intro_overlay2_1 h1,
.intro_overlay2_2 h1 {
    margin-bottom: 0;
}

.intro_overlay1 p,
.intro_overlay2_1 p,
.intro_overlay2_2 p {
    margin-top: 0;
    margin-bottom: 2px;
}

.intro_overlay1 h1 span,
.intro_overlay2_1 h1 span,
.intro_overlay2_2 h1 span,
.intro_overlay1 p span,
.intro_overlay2_1 p span,
.intro_overlay2_2 p span {
    background-color: rgba(255, 255, 255, 0.4);
}


.intro_overlay2 {
    display: flex;
}

.intro_overlay2_1 {
    flex: 1;
    text-align: center;
}

.intro_overlay2_2 {
    flex: 1;
    text-align: center;
}

/* intro_container1 - responsive */

@media screen and (max-width: 1024px) {

    .intro_overlay1 h1,
    .intro_overlay2_1 h1,
    .intro_overlay2_2 h1 {
        font-size: 25px;
    }

    .intro_overlay1 p,
    .intro_overlay2_1 p,
    .intro_overlay2_2 p {
        font-size: 15px;
    }


}

@media screen and (max-width: 768px) {
    .hide_text {
        display: none;
    }
}





/* intro_container2 */

.intro_container2 {

    width: 90%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.intro_container2_1 {
    width: 28%;
    height: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #024BA0;

    margin-bottom: 1%;
    margin-top: 1%;


}

.intro_container2_1 i {
    color: #024BA0;
    font-size: 2.5em;
    text-align: center;
}

.intro_container2_1 span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

.intro_container2_1 span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    /* pad: 0.7em 0; */
    font-weight: 400;
    line-height: 0;
}

/* intro_container2 - responsive */

@media screen and (max-width: 1024px) {
    .intro_container2 {
        width: 85vw;
    }

    .intro_container2_1 {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .intro_container2 {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }

    .intro_container2_1 {
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .intro_container2 {
        gap: 15px;
    }

    .intro_container2_1 {
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}






/* intro_container3 */

.intro_container3 {
    width: 100%;
    padding: 100px 0px;
    background-color: #24262b;
}

.intro_container3 img {
    height: auto;
    width: 430px;
}

.intro_container3_1_1 {
    width: 550px;
}

.intro_container3_1 {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro_container3_1_1 h2 {
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.intro_container3_1_1 h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.intro_container3_1_1 p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.intro_container3_1_1_button {
    background-color: #024BA0;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.intro_container3_1_1_button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* intro_container3 - responsive */

@media screen and (max-width: 1100px) {
    .intro_container3 {
        height: 1000px;
    }

    .intro_container3_1 {
        flex-direction: column;
    }

    .intro_container3_1_1 {
        text-align: center;
    }
}

@media screen and (max-width: 574px) {
    .intro_container3_1_1 h2 {
        color: white;
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .intro_container3_1_1 h5 {
        color: white;
        letter-spacing: 2px;
        font-size: 19px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }

    .intro_container3_1_1 p {
        color: #fcfc;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 15px;
        margin-bottom: 45px;
    }
}





/* intro_container4 */

.intro_container4 h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #024BA0;
    font-size: 75px;
    width: 100%;
    text-align: center;
}

.row {
    margin-left: 7%;
}


/* intro_container5 */

.intro_container5 {
    width: 100%;
    background-color: #21242b;
    padding: 5px 0;
}

.intro_container5_1_1 {
    display: flex;
    flex-wrap: wrap;
}

.intro_container5_1_1_1 {
    margin-top: 2%;
    width: 23%;
    padding: 0 15px;
}

.intro_container5_1_1_1 ul {
    list-style: none;
}

.intro_container5_1_1_1 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.intro_container5_1_1_1 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #024BA0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.intro_container5_1_1_1 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.intro_container5_1_1_1 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.intro_container5_1_1_1 ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.intro_container5_1_1_1 .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.intro_container5_1_1_1 .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* intro_container5 - responsive */

@media(max-width: 1100px) {
    .intro_container5 {
        width: 100%;
        bottom: -1700px;
    }

    .intro_container5_1_1_1 {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .intro_container5 {
        width: 100%;
        bottom: -2050px;
    }

    .intro_container5_1_1_1 {
        width: 100%;
    }
}





/*adoption.html*/





.adopt_container0 {
    height: 70px;
}




/* adopt_container1 */

.adopt_container1 {
    vertical-align: center;
    background-image: url("../image/back1.avif");
    width: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adopt_container1 .adopt_container1_1 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0;
}


.adopt_container1 .adopt_container1_1 h1 {
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}

.adopt_container1 .adopt_container1_1 h3 {
    color: black;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}




/* adopt_container2 */

.adopt_container2 {
    background: #21242b;
    width: 100%;
}

.adopt_container2_1 h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 75px;
    width: 100%;
    text-align: center;

}

.adopt_container2_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adopt_container2_2_1 {
    height: 225px;
    width: 300px;
    padding: 2px 2px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.adopt_container2_2_1 i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 10px 0px;
    color: #024BA0;

}

.adopt_container2_2_1 h5 {
    color: black;
    font-size: 23px;
    margin-bottom: 0px;
}

.adopt_container2_2_1_1 p {
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 0px;
}

.adopt_container2_2_1 .button1,
.adopt_container2_2_1 .button2 {
    background-color: #024BA0;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.button1 {
    top: 75%;
    left: 32%;
    position: absolute;
}


.button2 {
    top: 75%;
    left: 28%;

    position: absolute;
}

.adopt_container2_2_1 .button1:hover {
    background-color: transparent;
    border: 2px solid #024BA0;
    cursor: pointer;
}

/* adopt_container2 responsive*/

@media screen and (max-width: 1035px) {
    .adopt_container2_2 {
        flex-direction: column;
    }
}



/* adopt_container3 */

.contatiner3 {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #21242b;
}

.container3_1 {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
}










.container .title-word {
    animation: color-animation 4s linear infinite;
}

.container .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.container .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

.container .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

.container .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}

/* Here are just some visual styles. 🖌 */

.container {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    margin-top: 20%;
}

.title5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4vw;
    text-transform: uppercase;
}













.container3_2 {
    flex: 1;
    width: 100%;
    height: 65vh;
    display: flex;
    background: #21242b;

    align-items: center;
}

.container3_2 .mySlides {
    margin-left: 5%;
    width: 90%;
}



@media screen and (max-width: 1000px) {
    .contatiner3 {
        flex-direction: column;
    }
}











/* adopt_container4 */

.adopt_container4 {
    background-color: #21242b;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.adopt_container4_1 h2 {
    color: white;
    font-size: 75px;
    width: 100%;
    margin: 0;
    text-align: center;
}




.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
}

#search-container input {
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color: #6759ff;
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}

.button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
}

.active {
    background-color: #6759ff;
    color: #ffffff;
}

#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}

#products .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container {
    text-align: center;
}

#products img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

/*.container {
    padding-top: 1em;
    color: #110f29;
}

.container h5 {
    font-weight: 500;
}
*/
.hide {
    display: none;
}

@media screen and (max-width: 720px) {
    #products img {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }

    #products .card {
        max-width: 15em;
        margin-top: 1em;
    }

    #products {
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}






/* intro_container45 */

.adopt_container45 {
    width: 100%;
    height: 30px;
    background-color: lightpink;
}




/* adopt_container5 */

.adopt_container5 {
    width: 100%;
    background-color: #21242b;
    padding: 5px 0;
}

.adopt_container5_1_1 {
    display: flex;
    flex-wrap: wrap;
}

.adopt_container5_1_1_1 {
    text-align: left;
    width: 21%;
    padding: 0 15px;
}

.adopt_container5_1_1_1 ul {
    list-style: none;
}

.adopt_container5_1_1_1 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.adopt_container5_1_1_1 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #024BA0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.adopt_container5_1_1_1 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.adopt_container5_1_1_1 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.adopt_container5_1_1_1 ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.adopt_container5_1_1_1 .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.adopt_container5_1_1_1 .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* adopt_container5 - responsive */

@media(max-width: 1100px) {
    .adopt_container5 {
        width: 100%;
        bottom: -1700px;
    }

    .adopt_container5_1_1_1 {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .adopt_container5 {
        width: 100%;
        bottom: -2050px;
    }

    .adopt_container5_1_1_1 {
        width: 100%;
    }
}


/*Shingi*/

/* Google Fonts - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.testimonialpage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #CCE6FC;
}


.container1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

/* swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body.contactus {
    margin: 50;
    padding: 20;
    box-sizing: border-box;
}

body.contactus,
input.contactus,
textarea.contactus {
    font-family: "Poppins", sans-serif;
}

.container-contact {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #e3f2fd;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contact {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #E63B60;
    position: relative;
}



.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #E63B60;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form-contact {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title1 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

#message .input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.btn-contact {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #E63B60;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn-contact:hover {
    background-color: transparent;
    color: #fff;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #E63B60;
    top: 50%;
    transform: translateY(-50%);
    border: orange 2px solid;
}

.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
    background-color: #414c6b;
    ;
    border: #E63B60;
}

.contact-info .title {
    color: blue;
}

.text-1 {
    color: #fff;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    color: #fff;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.icon-sub {
    width: 28px;
    margin-right: 0.7rem;
    color: blue;
}

.social-media {
    padding: 2rem 0 0 0;
    color: blue;
}

.social-media p {
    color: #fff;
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, orange, red);
    color: blue;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.05);
}






.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}

@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }

    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .square {
        transform: translate(140%, 43%);
        height: 350px;
    }

    .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }

    .text {
        margin: 1rem 0 1.5rem 0;
    }

    .social-media {
        padding: 1.5rem 0 0 0;
    }

}

@media (max-width: 480px) {
    .container1 {
        padding: 1.5rem;
    }

    .contact-info:before {
        display: none;
    }

    .square,
    .big-circle {
        display: none;
    }

    .form100,
    .contact-info {
        padding: 1.7rem 1.6rem;
    }

    .text,
    .information,
    .social-media p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.15rem;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .icon {
        width: 23px;
    }

    .input {
        padding: 0.45rem 1.2rem;
    }

    .btn {
        padding: 0.45rem 1.2rem;
    }
}



.credit {
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a {
    text-decoration: none;
    color: #414c6b;
    font-weight: bold;
}



/**
 * Swiper 8.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: July 13, 2022
 */

@font-face {
    font-family: swiper-icons;
    src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0)
}

.swiper-pointer-events {
    touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, .15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper::before {
    content: '';
    flex-shrink: 0;
    order: 9999
}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    margin-inline-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-horizontal>.swiper-wrapper::before {
    height: 100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after)
}

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
    margin-block-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-vertical>.swiper-wrapper::before {
    width: 100%;
    min-width: 1px;
    height: var(--swiper-centered-offset-after)
}

.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center
}

.swiper-virtual .swiper-slide {
    -webkit-backface-visibility: hidden;
    transform: translateZ(0)
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
    height: 1px;
    width: var(--swiper-virtual-size)
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
    width: 1px;
    height: var(--swiper-virtual-size)
}

:root {
    --swiper-navigation-size: 44px
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none
}

.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
    display: none !important
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev'
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next'
}

.swiper-button-lock {
    display: none
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-disabled>.swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
    display: none !important
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(.33);
    position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(.33)
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2)
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet:only-child {
    display: none !important
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--swiper-theme-color))
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0)
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: .2s transform, .2s top
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px)
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s left
}

.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s right
}

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical>.swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-lock {
    display: none
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-scrollbar-disabled>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
    display: none !important
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-scrollbar.swiper-scrollbar-vertical,
.swiper-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s infinite linear
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-grid>.swiper-wrapper {
    flex-wrap: wrap
}

.swiper-grid-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column
}

.swiper-fade.swiper-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-cube {
    overflow: visible
}

.swiper-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-cube .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-cube.swiper-rtl .swiper-slide {
    transform-origin: 100% 0
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next+.swiper-slide,
.swiper-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: 0
}

.swiper-cube .swiper-cube-shadow:before {
    content: '';
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    filter: blur(50px)
}

.swiper-flip {
    overflow: visible
}

.swiper-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-creative .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    transition-property: transform, opacity, height
}

.swiper-cards {
    overflow: visible
}

.swiper-cards .swiper-slide {
    transform-origin: center bottom;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden
}